.App {
  text-align: center;
  height: 50vw;
}
header {
  width: 100vh;
  max-height: 50vw;
  background: #f5f5f5;
}
#title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 50px;
}
#title h2 {
  color: #eb5757;
  margin-top: 25px;
}
input {
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 0px 10px 0px 15px;
  width: 100vw;
  min-width: 250px;
  margin-left: 5%;
  height: 50px;
}
button {
  background-color: #27ae60;
  border: 2px solid #27ae60;
  border-radius: 8px;
  width: 100px;
  font-size: 15px;
  color: white;
  height: 40px;
  z-index: 1;
}
form {
  height: 100px;
  display: flex;
}
form button {
  position: relative;
  z-index: 1;
  right: 100px;
  top: 4%;
}
@media only screen and (min-width: 950px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  input {
    min-width: 5px;
    max-width: 300px;
    max-height: 50px;
    min-height: 40px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 0px 10px 0px 15px;
    margin-top: 15px;
  }
  button {
    width: 6.5vw;
    color: white;
    height: 2.5vw;
  }
  form button {
    position: relative;
    top: 20%;
    right: 30%;
    min-width: 100px;
    min-height: 40px;
  }
  button:hover {
    cursor: pointer;
  }
  #title:hover {
    cursor: pointer;
  }
  #title {
    margin-left: 100px;
  }
}
